:export {
  primaryColor: $u-type-primary;
  inactiveColor:$form-switch-inactive-color;
  icondColor:$form-icon-color;
  placeholderColor:$form-placeholder-color;
  searchPlaceholderColor:$search-placeholder-color;
}